@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --red-alert: #E73550;
    --green-alert: #0F7B0F;
}

body {
    background: #1E1E1E;
}

#headerLogoImg {
    width: 164px;
    margin-left: 55px;
    margin-top: 42px;
}

.dnc-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dnc-cadastro h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;

    color: #FFFFFF;
    margin-top: 27px;
    margin-bottom: 43px;
}

.cadastro-form-div {
    display: flex;
    flex-direction: column;
    width: 524px;
    margin-bottom: 6px;
}

.cadastro-form label {
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 20px;
    /* line-height: 23px; */
    margin-bottom: 8px;
    color: #FFFFFF;
}

.cadastro-form input {
    /* Altura caixa e distanciamento texto */
    height: 52px;
    padding-left: 13px;
    /* Configuração cores e linhas caixa */
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #181818;
    border-radius: 10px;
    /* Configuração texto */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #616161;
}

#showSenha_campoObg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    height: 15px;
}

#id_MostrarSenha {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
}

#id_MostrarSenha p {
    margin-left: 5px;
    text-align: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}

.cadastro-form button {
    /* Altura caixa e distanciamento */
    margin-top: 26px;
    width: 524px;
    height: 48px;
    /* Configuração cores e linhas caixa */
    background: #0C70F2;
    border-radius: 6px;
    border: none;
    /* Configuração texto */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

#obg-field-name {
    visibility: hidden;
    text-align: right;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
    color: var(--red-alert);
}

#obg-field-email {
    visibility: hidden;
    text-align: right;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
    color: var(--red-alert);
}

#obg-field-tel {
    visibility: hidden;
    text-align: right;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
    color: var(--red-alert);
}

#obg-field-cpf {
    visibility: hidden;
    text-align: right;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
    color: var(--red-alert);
}

#obg-field-pass {
    visibility: hidden;
    text-align: right;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
    color: var(--red-alert);
}

#alerta-campo-obrig-cad {
    margin-top: 8px;
    margin-bottom: 57px;
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 14px; */
}

@media (max-width: 600px) {

    body {
        width: 100%;
    }

    #headerLogoImg img {
        height: 60px;
        width: 100px;
        margin-left: 4%;
        margin-top: 5%;
    }

    .dnc-cadastro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dnc-cadastro img {
        width: 80%;
        margin-left: 4%;
        margin-top: 5%;
        /* align-items: center; */
    }

    .dnc-cadastro h1 {
        font-size: 30px;
    }

    .cadastro-form {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cadastro-form-div {
        width: 80%;
    }

    .cadastro-form button {
        width: 80%;
    }
}